<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <title>R-itual</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">R-itual</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign in</a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/product-1.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>x-mas tree.</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            </div>
                        <div class="price"> $85 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/product-2.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>kalash</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            </div>
                        <div class="price"> $50 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/product-1.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>x-mas tree.</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            </div>
                        <div class="price"> $85 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/product-4.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>chhat puja items</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            </div>
                        <div class="price"> $250 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/product-2.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>x-mas tree.</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            </div>
                        <div class="price"> $85 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/product-1.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>x-mas tree.</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            </div>
                        <div class="price"> $85 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/product-1.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>x-mas tree.</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            </div>
                        <div class="price"> $85 </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px-->
                        <img class="medium" src="./images/product-1.png" alt="product" />
                    </a>
                    <div class="card-body">
                        <a href="product.html">
                            <h2>x-mas tree.</h2>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-half-alt"></i></span>
                            </div>
                        <div class="price"> rs 80 </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="row center">
            All right reserved
        </footer>


    </div>
</body>

</html>